# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.*

# IDEs
.vscode/
.idea/

# Temporary files
*.tmp
*.swp
*.swo

# Kimchi files
.kimchi/

# Next.js
node_modules/
.next/
out/